@import "variables";

.alpha {
    padding-left: 0 !important;
}

.omega {
    padding-right: 0 !important;
}

.hide {
	display: none;
}

.ui-wrapper-a {
    padding: 0.5em;
}

.ui-wrapper-b {
    padding: 1em;
}

.font-light {
    font-family: $sansFontFamilyLight;
}

// Horizontal rules
hr{
	margin: $baseLineHeight 0;
	border: 0;
	border-top: 1px solid $hrBorder;
	border-bottom: 1px solid $hrBorderLight;
}

.table{
	display: table;
	height: 100%;
	width: 100%;

	.cell{
		display: table-cell;
		vertical-align: middle;
	}
}